<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
  </head>
  <body>
    <form class="userroutes" action="/home" method="post">
      <div class="userroute">
        <label for="route">Enter a route to be added</label>
        <input type="text" name="userroute">
      </div>
      <div class="button">
        <input type="submit" name="enter" value="ENTER">
      </div>

    </form>
  </body>
</html>
