<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <!-- <h2>Authentication</h2>
  <button type="Login" class="Login">Login</button> -->
  <div class="container">
    <div class="header">
      <h1>Sign Up</h1>
    </div>
    <div class="signupform">
      <form class="signup" action="/signup" method="post">
        <div>
          <label for="name">Name:</label>
          <input type="text" name="name" id="name">
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="text" name="email" id="email">
        </div>
        <div>
          <label for="pass">Password:</label>
          <input type="text" name="pass" id="pass">
        </div>
        <div>
          <label for="cpass">Confirm Password:</label>
          <input type="text" name="cpass" id="cpass">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
