<html lang="en">
<head>
  <title>Landing Page</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <button type="signUP" name="signUP" onclick="window.location.href='http://localhost:5000/signup'"> SIGN UP </button>
</body>
</html>
